<h1>Route List</h1>
<table>
      <thead>
        <tr>
          <th scope="col">Route</th>
          <th scope="col">Purpose</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">Here are the routes that will help you navigate this app.</td>
        </tr>
      </tfoot>
      <tbody>
          <tr>
              <td>'/'</td>
              <td>Root Page</td>
          </tr>
          <tr>
              <td>'/interact'</td>
              <td>A User Interface for all dogs</td>
          </tr>
          <tr>
              <td>'/interact/:id'</td>
              <td>A User Interface for a certain dog</td>
          </tr>
        <tr>
          <td>'/dogs'</td>
          <td>Json object of all dogs</td>
        </tr>
        <tr>
            <td>'/dogs/new'</td>
            <td>Allows you to create a new dog</td>
        </tr>
        <tr>
            <td>'/dogs/:id'</td>
            <td>Return Json object of a certain dog</td>
        </tr>
        <tr>
            <td>'/dogs/:id/edit'</td>
            <td>Allows you to edit a certain dog</td>
        </tr>
        <tr>
            <td>'/dogs/:id/walks'</td>
            <td>Shows all walks that are scheduled for a certain dog</td>
        </tr>
        <tr>
            <td>'/dogs/:id/meals'</td>
            <td>Shows all Meals that are scheduled for a certain dog</td>
        </tr>
        <tr>
            <td>'/dogs/:id/schedule.json/:date'</td>
            <td>Shows all Meals that are scheduled for a certain dog on a certain date</td>
        </tr>

      </tbody>
    </table>
